// _sass/custom/setup.scss

$mines_navy-000: #002554 !default;
$mines_navy-100: #002554 !default;
$mines_navy-200: #002554 !default;
$mines_navy-300: #002554 !default;
$mines_old_gold-000: #B3A369 !default;
$mines_old_gold-100: #B3A369 !default;
$mines_old_gold-200: #B3A369 !default;
$mines_old_gold-300: #B3A369 !default;
$mines_malachite_green-000: #cedc00 !default;
$mines_malachite_green-100: #cedc00 !default;
$mines_malachite_green-200: #cedc00 !default;
$mines_malachite_green-300: #cedc00 !default;
$mines_blue-000: #385E9D !default;
$mines_blue-100: #385E9D !default;
$mines_blue-200: #385E9D !default;
$mines_blue-300: #385E9D !default;
$orange-000:#ffe5d0 !default;
$orange-100:#fecba1 !default;
$orange-200:#feb272 !default;
$orange-300:#FFA500 !default;
